@let taskItem = item();
<div
  class="task-item"
  [class.mod-completed]="taskItem.completed"
  (click)="navigateTaskEditPage()"
>
  <section class="task-item-name">
    {{ taskItem.name }}
  </section>

  <section class="task-item-controls">
    <button
      class="btn btn-success"
      [style.disabled]="taskItem.completed"
      (click)="completeTask($event, taskItem.id)"
    >
      complete
    </button>
    <button class="btn btn-danger" (click)="removeTask($event, taskItem.id)">
      remove
    </button>
  </section>
</div>
