@let taskItem = item();
<div class="task-item" [class.mod-completed]="taskItem.completed">
  <section class="task-item-name">
    {{ taskItem.name }}
  </section>

  <section>
    @if (taskItem.startDate) {
    {{ taskItem.startDate | controlDate | date : "yyyy/L/dd" }}
    } - @if (taskItem.endDate) {
    {{ taskItem.endDate | controlDate | date : "yyyy/L/dd" }}
    }
  </section>

  <section class="task-item-controls">
    <button
      class="btn btn-success task-item-control"
      [style.disabled]="taskItem.completed"
      (click)="completeTask($event, taskItem.id, taskItem.completed)"
    >
      @if (taskItem.completed) { refresh } @else { complete }
    </button>

    <button
      class="btn btn-danger task-item-control"
      (click)="removeTask($event, taskItem.id)"
    >
      remove
    </button>
    <button
      class="btn btn-primary task-item-control"
      (click)="navigateTaskEditPage($event, taskItem.id)"
    >
      edit
    </button>
  </section>
</div>
