.task-page-list {
  display: flex;
  flex-direction: column;
  margin: 4rem auto 1.6rem;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.task-page-add-wrapper {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: right;
}
