@let controls = formGroup.controls;
<div class="task-create-modal">
  @let nameControl = controls.name;
  <app-input
    class="task-create-modal-control"
    [placeHolder]="'Task name'"
    [control]="nameControl"
  ></app-input>
  <textarea
    class="task-create-modal-control"
    type="text"
    placeholder="Task description(optional)"
    [formControl]="controls.description"
  ></textarea>

  <div class="task-create-modal-controls-wrap">
    <div>
      <label>Start date</label>
      <form class="row row-cols-sm-auto">
        <div class="col-12">
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              ngbDatepicker
              #d="ngbDatepicker"
              [formControl]="controls.startDate"
            />
            <button
              class="btn btn-outline-secondary bi bi-calendar3"
              (click)="d.toggle()"
              type="button"
            >
              &#8942;
            </button>
          </div>
        </div>
      </form>
    </div>
    <div>
      <label>End date</label>
      <form class="row row-cols-sm-auto">
        <div class="col-12">
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              ngbDatepicker
              #d2="ngbDatepicker"
              [formControl]="controls.endDate"
            />
            <button
              class="btn btn-outline-secondary bi bi-calendar3"
              (click)="d2.toggle()"
              type="button"
            >
              &#8942;
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <footer class="task-create-modal-footer">
    <button
      class="task-create-modal-footer__control btn btn-danger"
      (click)="activeModal.close()"
    >
      Close
    </button>
    <button
      class="task-create-modal-footer__control btn btn-primary"
      (click)="createTask()"
    >
      Complete
    </button>
  </footer>
</div>
